[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=uandrew
WorkingDirectory=/home/uandrew/nginx/sites/SITENAME/source
ExecStart=/home/uandrew/nginx/sites/virtualenv/bin/gunicorn --bind unix:/tmp/SITENAME.socket project.wsgi:application

[Install]
WantedBy=multi-user.target